$desktop: 1015px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@include desktop() {
    

    .container {
        hr {
            display: none;
        }

        .des_flex {
            display: flex;
            justify-content: space-between;
        }

        .flex {

            input {
                width: 200px;
                margin-left: 20px;
            }
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;

            .card_one {
                margin: 0;
            }

            
        }

        .grid + h1 {
            margin: 2rem 0 1em;
        }

        .change {
            color: $limeGreen;
        }

        

        .grid_two {
            display: grid; 
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 20px;

            .card_two {
                margin: 0;
            }
        }
    }
}
